
<div class="mt-0 m-4">
  <div class="card border-0 rounded-0 h-100 mb-4">
    <div class="card-body">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a routerLink="/maintainer">Home</a>
          </li>
          <li class="breadcrumb-item active">Artistas</li>
          </ol>
        </nav>
      </div>
      <div class="progress-bar">
        <div class="progress-bar-value" [hidden]="!loading"></div>
    </div>
  </div>
  <div class="card border-0 rounded-0">
    <div class="card-title mb-1 p-3">
      <div class="row">
        <div class="col">
          <h5>Listado de artistas</h5>
        </div>
        <div class="col text-end">
          <a routerLink="/maintainer/artistas/crear" class="btn btn-lightning">
            <i class="fa-solid fa-plus fs-6"></i>
            Crear Artista
          </a>
        </div>
      </div>
    </div>
    <div class="card-body" style="padding:0px;">
      <div class="backgroundTable">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="componente-importantes
          componente-importantes-from-popup">
          
          <ng-container *ngIf="!error && artistas.length==0">
            <div class="text-center text-color">
              <h2 class="text-color px-5 mt-5">Sin Registro</h2>
              <i class="fa-solid fa-face-sad-cry 2fa-5x my-3"></i>
            </div>
          </ng-container>

          <ng-container *ngIf="!loading && error">
            <div class="text-center text-color">
              <h2 class="text-color px-5 mt-5">Ocurrio un error</h2>
              <i class="fa-solid fa-face-sad-cry 2fa-5x my-3"></i>
            </div>
          </ng-container>

          <ng-container *ngIf="artistas.length !=0">
            <thead class="bg-primary-subtle">
              <tr>
                <th class="text-color text-start">Id</th>
                <th class="text-color text-start">Nombre</th>
                <th class="text-color text-start">Bio</th>
                <th class="text-color text-start">País de Origen</th>
                <th class="text-color text-start">Género Musical</th>
                <th class="text-color text-start">Oyentes Mensuales</th>
                <th class="text-color text-start">Opciones</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of artistas">
                <td class="text-start pointer text-init text-color">{{item.id}}</td>
                <td class="text-start pointer text-init text-color">{{item.nombre}}</td>
                <td class="text-start pointer text-init text-color">{{item.biografia}}</td>
                <td class="text-start pointer text-init text-color">{{item.pais}}</td>
                <td class="text-start pointer text-init text-color">{{item.generoMusical}}</td>
                <td class="text-start pointer text-init text-color">{{item.oyentesMensuales | number}}</td>
                <td class="text-start">
                  <div ngbDropdown class="d-inline-block">
                    <i class="fa-solid fa-gear fa-xl pointer" id="dropdownBasic1" ngbDropdownToggle></i>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem>Ver Más</button>
                      <button ngbDropdownItem>Editar Información</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem (click)="remove(item)"><i class="fa fa-trash"></i> Eliminar</button>
                    </div>
                  </div>
                </td>
            </tbody>
          </ng-container>
        </table>
      </div>
    </div>
</div>

