
//********************DIMENCION**************************

$navbar-height: 60px;
$sidebar-width:260px;
$sidebar-pinned-wdth:70px;

//********************COLORES**************************

//COLOR FONDO ARTICLE
$bg-color:#f2f3f8;
$border-color: #f2f3f8;

//COLOR NAVBAR MENU
$navbar-bg-color : #242939;

//COLOR NAVBAR ICONO
$navbar-color:#c4cff9;
$navbar-background-icon-color:#282f48;

//COLOR SIDEBAR MENU
$sidebar-bg-color:#fff;
$sidebar-bg-icon-color:rgba(140, 165, 239, 0.6);
$sidebar-bg-color-active:#f5f5f9;
$sidebar-bg-color-active-select:#95b0ff;

//COLOR SIDEBAR MENU LETRAS
$sidebar-color:#3d4465;

//COLOR SIDEBAR MENU ICONO
$sidebar-icon-color:#c4cff9;

//COLOR ICONO ALERTA NOTIFICACION
$nav-alert-background-icon-color:#2f3546;
$nav-alert-icon-color-borde:#1c1e21;
$nav-alert-background-icon-color-borde:#ff61c5;
$nav-alert-background-color-borde:#fff;
$nav-alert-punto-icon-color:#61b8ff;

//COLOR CARD
$card-color-borde:#5b6582;
$card-color-icono:#98a4c7;

//COLOR BUTTON
$button-color-borde:#5b6582;
$button-color-background:#5b6582;
$button-color-text:#f0f3ff;
$button-color-background-hover:#4c5671;

$button-outline-color-borde:#5b6582;
$button-outline-color-background:transparent;
$button-outline-color-text:#5b6582;

$button-outline-color-borde-hover:#5b6582;
$button-outline-color-background-hover:#5b6582;
$button-outline-color-text-hover:#f0f3ff;

