<div class="wrapper default-theme">
    <div class="modal-header bg-white" >
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body bg-white">
    {{message}}
    </div>
    <div class="modal-footer bg-white">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')" >Cancelar</button>
        <button type="button" class="btn btn-lightning" (click)="submit()" >Aceptar</button>
    </div>
</div>