<div class="container-fluid">
  <div class="row pt-4">
    <div class="col-md-12 text-center mb-2">
      <small> © 2024 creado por dev Juan Francisco</small>
    </div>
    <div class="col-md-12 text-center mb-3">
      <a href="https://juanfrancisco.dev/" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i class="bi bi-browser-chrome"></i></a>
      <a href="https://www.instagram.com/juannnfrancisco/?hl=es" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i
          class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/juannfrancisco/" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i
          class="fab fa-linkedin-in"></i></a>
    </div>

  </div>

</div>
