
<div class="mt-0 m-4">
  <div class="card border-0 rounded-0 h-100 mb-4">
    <div class="card-body">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/maintainer">Home</a>
          </li>
          <li class="breadcrumb-item active">Canciones</li>
          </ol>
        </nav>
      </div>
      <div class="progress-bar">
        <div class="progress-bar-value" [hidden]="!loading"></div>
    </div>
  </div>
  <div class="card border-0 rounded-0">
    <div class="card-title mb-1 p-3">
      <div class="row">
        <div class="col">
          <h5>Listado de canciones</h5>
        </div>
        <div class="col text-end">
          <a routerLink="/maintainer/canciones/crear" class="btn btn-lightning">
            <i class="fa-solid fa-plus fs-6"></i>
            Crear canción
          </a>
        </div>
      </div>
    </div>
    <div class="card-body" style="padding:0px;">
      <ng-container *ngIf="canciones.length !=0">
        <app-canciones-table [canciones]="canciones" [playlists]="playlists" [loading]="loading" [error]="error"></app-canciones-table>
      </ng-container>
    </div>
</div>

