.img{
    margin-top: -18%;
  }
  .position{
    margin-top: -10%;
  }
  .btn-custom-add{
    margin-top: 2%;
    width: 169px !important;
    height: 40px !important;
    margin-left: 0;
  }
  .subtitle{
    text-align: center;
    line-height: 1.25;
    font-size: 16px;
    margin-top: 2%;
  }
  .title{
    line-height: 0.8;
    font-size: 25px;
  }

