@import './assets/lightning-admin';

.componente-importantes {
    border-bottom-left-radius: 0px !important; 
    border-bottom-right-radius: 0px !important; 
    background-color: #f2f3f8 !important; 
    width: 100% !important;
    height: inherit !important; 
    padding-top: 26px !important; 
    border-bottom: none !important;
    text-align: center !important; 
}

.componente-importantes-from {
  border-bottom-left-radius: 0px !important; 
  border-bottom-right-radius: 0px !important; 
  background-color: #f2f3f8 !important;
  width: 100% !important;
  height: inherit !important; 
  padding-top: 26px !important; 
  border-bottom: none !important;
}

.componente-importantes-from-popup {
  background-color: #f2f3f8 !important;
  width: 100% !important;
  height: inherit !important; 
  padding: 0px !important; 
  border-radius: 0px !important; 
}

.pointer{
  cursor: pointer;
}

table.dataTable tr:last-child td {
  border-bottom: unset !important;
}

.backgroundTable {
    position: relative !important; 
    width: fit-content !important; 
    min-width: 100% !important; 
    height: auto !important; 
    object-fit: contain !important; 
    background-color: $navbar-background-icon-color !important; 
    border-radius: 0px !important; 
    border: 2px solid $navbar-background-icon-color !important; 
}


.background {
    background-color: #252525 !important; 
    border-radius: 5px !important; 
    border: 2px solid #2c2b3a !important; 
}


td {
    color: $navbar-background-icon-color;
    background-color: #f2f3f8;
    border-bottom: 1px solid #ffff !important;
    line-height: 1.08;
    font-size: 12px;
}


thead {
    font-size: 13px !important;
    color: white;
    border: 0px transparent !important;
    font-weight: bold;
    margin: auto;
}

table {
    padding: 1em;
    height: inherit;
}

table.dataTable thead th {
    backgroud:#ccc;
    border-bottom: 1px solid #282f48 !important;
}

.dataTables_info {
    display: none;
}

.paginate_button.current {
    background: transparent !important;
    border: 1px solid $navbar-background-icon-color !important;
    color: $navbar-background-icon-color !important;
}

.dataTables_wrapper .dataTables_paginate {
    float: center !important;
    text-align: center !important;
    width: 100% !important;
    position: absolute;
    padding-top: 1.25em;
    margin-bottom: 5%;
}

.dataTables_filter {
    margin: 15px !important;
    position: relative !important;
    z-index: 1;
}

.dataTables_filter input,
.inputFilter {
  object-fit: contain;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: left;
  background: #f2f3f8 !important;
  color: #4e4c68 !important;
  border: 1px solid #2c2b3a !important;
  padding: 10px;
  width: 220.1px;
  height: 40.1px;
}

.dataTables_length label,
.dataTables_filter label,
.labelFilter {
font-size: 13px !important;
color: #ffffff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
        font-size: 13px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.1;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff !important;
        opacity: 1.0;
        border: 1px solid #4c4a656b;
        border-radius: 5px;
        background-color: transparent !important;
  
    }
.custom-select {
    padding: 0.375rem 0.75rem 0.375rem 0rem !important;
    border: transparent !important;
    color: #afaaaa !important;
    border-bottom: 1px solid #787878 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    font-size: 13px !important;
    box-shadow: none !important;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    text-align: left;
    margin-left: 45px !important;
  }

  .custom-select-info {
    padding: 0.375rem 0.75rem 0.375rem 0rem !important;
    box-shadow: none !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    text-align: left;
    margin-left: 45px !important;
  }

.form-control-table {
    max-width: 50% !important;
}

  input {
    color-scheme: dark;
  }

.text-color{
    color: $sidebar-color !important;
}
.dataTables_empty{
    color: $sidebar-color !important;
}
