<div class="mt-0 m-4">
  <div class="card border-0 rounded-0 h-100 mb-4">
    <div class="card-body">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a routerLink="/maintainer">Home</a>
          </li>
          <li class="breadcrumb-item active">
            <a routerLink="/maintainer/playlists/list">Playlists</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="progress-bar">
      <div class="progress-bar-value" [hidden]="!loading"></div>
    </div>
  </div>


  <div class="card border-0 rounded-0"  *ngIf="playlist">
    <div class="card-title mb-0 p-3 text-light" style="background-color: #282f48;border-bottom: 1px solid #282f48;">
      <div class="row">
        <div class="col">
          <img src="assets/img/playlist.png" class="img-fluid rounded" alt="">
        </div>
        <div class="col-10">
          <span class="text-muted">Playlist</span>
          <h2>{{playlist.nombre}}</h2>
          <span class="fw-bolder"> Usuario </span>
          <span> {{playlist.canciones.length}} canciones </span>
          <span> {{duracionTotal}}</span>
        </div>
        <div class="col text-end">
          <div ngbDropdown class="d-inline-block">
            <i class="fa-solid fa-gear fa-xl pointer" id="dropdownBasic1" ngbDropdownToggle></i>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Agregar canción</button>
              <button ngbDropdownItem>Editar Información</button>
              <button ngbDropdownItem>Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body" style="padding:0px;">
      <app-canciones-table [canciones]="playlist.canciones" [playlists]="playlists" [loading]="loading" [error]="error"></app-canciones-table>
    </div>
  </div>